<div typography-body-1>
    <div padding>
        <div flex-cell gutter>
            <div shrink typography-headline>ng-quick-form</div>
            <a shrink href="https://www.npmjs.com/package/ng-quick-form"><img
                    src="https://img.shields.io/npm/v/ng-quick-form.svg"></a>
            <a shrink href="http://github.com/kctang/ng-quick-form"><img
                    src="https://img.shields.io/github/license/kctang/ng-quick-form.svg"></a>
        </div>
        <p>
            Create forms to collect data quickly.
        </p>
        <div divider margin-vertical></div>
        <div typography-subheading-1>Getting Started</div>
        <div>
            <ul>
                <li>Install from NPM:
                    <p><code>npm install ng-quick-form</code></p>
                </li>
                <li>TODO: ...then?</li>
            </ul>
        </div>
        <div padding>
            [ <a href="https://stackblitz.com/edit/ng-quick-form-starter">StackBlitz
            Template</a> ]
        </div>
    </div>
    <div divider></div>
    <mat-tab-group>
        <mat-tab label="Basic Usage">
            <app-simple-demo></app-simple-demo>
        </mat-tab>
        <mat-tab label="Two-Column Form">
            <app-simple-demo></app-simple-demo>
        </mat-tab>
        <mat-tab label="Integrate with Existing FormGroup">
            <app-simple-demo></app-simple-demo>
        </mat-tab>
    </mat-tab-group>
    <div divider></div>
    <div padding>
        <div typography-subheading-1>Source Code</div>
        <a href="https://github.com/kctang/ng-quick-form">ng-quick-form</a> is
        hosted on GitHub.
    </div>
</div>
