<ng-container [formGroup]="form" [ngSwitch]="field.type">
    <!--text field-->
    <mat-form-field *ngSwitchCase="'text'">
        <input matInput [formControlName]="fieldId" [placeholder]="field.title"
               [required]="field.required">
        <mat-error *ngIf="!form.controls[fieldId].valid">
            {{errorMessage(form.controls[fieldId])}}
        </mat-error>
    </mat-form-field>

    <!--password-->
    <mat-form-field *ngSwitchCase="'password'">
        <input matInput type="password" [formControlName]="fieldId" [placeholder]="field.title"
               [required]="field.required">
        <mat-error *ngIf="!form.controls[fieldId].valid">
            {{errorMessage(form.controls[fieldId])}}
        </mat-error>
    </mat-form-field>

    <!--textarea-->
    <mat-form-field *ngSwitchCase="'textarea'">
        <textarea matInput cdkTextareaAutosize [formControlName]="fieldId"
                  [placeholder]="field.title" [required]="field.required">
        </textarea>
        <mat-error *ngIf="!form.controls[fieldId].valid">
            {{errorMessage(form.controls[fieldId])}}
        </mat-error>
    </mat-form-field>

    <!--switch field-->
    <div *ngSwitchCase="'switch'" typography-body-1>
        <mat-slide-toggle [formControlName]="fieldId">{{field.title}}</mat-slide-toggle>
    </div>

    <!--radio field-->
    <mat-radio-group *ngSwitchCase="'radio'" [formControlName]="fieldId"
                     [required]="field.required">
        <label typography-caption>{{field.title}}</label>
        <div flex-cell gutter padding-bottom>
            <mat-radio-button *ngFor="let option of field.options" [value]="option.value" cell-2>
                {{option.label}}
            </mat-radio-button>
        </div>
        <mat-error *ngIf="submitted && !form.controls[fieldId].valid">
            {{errorMessage(form.controls[fieldId])}}
        </mat-error>
    </mat-radio-group>

    <!--checkbox-->
    <div *ngSwitchCase="'checkbox'" padding-bottom>
        <label typography-caption>{{field.title}}</label>
        <div [formArrayName]="fieldId" flex-cell gutter>
            <ng-container *ngFor="let control of getChildControls(fieldId); let i = index">
                <ng-container [formGroupName]="i">
                    <mat-checkbox formControlName="checkboxItem" [value]="getOptionValue(i)" cell-2>
                        {{getOptionLabel(i)}}
                    </mat-checkbox>
                </ng-container>
            </ng-container>
        </div>
        <mat-error *ngIf="!form.controls[fieldId].valid">
            {{errorMessage(form.controls[fieldId])}}
        </mat-error>
    </div>

    <!--chip-->
    <mat-form-field *ngSwitchCase="'chips'">
        <mat-chip-list #chipList>
            <mat-chip
                    *ngFor="let chipValue of chipValues"
                    [selectable]="true"
                    [removable]="true"
                    (removed)="doRemoveChip(chipValue)">
                {{chipValue}}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
            </mat-chip>
            <input #chipInput
                   [placeholder]="field.title"
                   [formControl]="chipControl"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="doAddChip($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete"
                          [autoActiveFirstOption]="true"
                          (optionSelected)="doChipSelected($event)">
            <ng-container *ngIf="chipWithGroups; else chipWithNoGroups">
                <mat-optgroup *ngFor="let chipValue of filteredChipValuesWithGroup | async"
                              [label]="chipValue.group">
                    <mat-option *ngFor="let option of chipValue.options" [value]="option.value">
                        {{option.label}}
                    </mat-option>
                </mat-optgroup>
            </ng-container>
            <ng-template #chipWithNoGroups>
                <mat-option
                        *ngFor="let option of filteredChipValues | async"
                        [value]="option.value">
                    {{option.label}}
                </mat-option>
            </ng-template>
        </mat-autocomplete>
    </mat-form-field>

    <!--select-->
    <mat-form-field *ngSwitchCase="'select'">
        <mat-select [formControlName]="fieldId" [placeholder]="field.title"
                    [multiple]="true"
                    [required]="field.required">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
                {{option.label}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="!form.controls[fieldId].valid">
            {{errorMessage(form.controls[fieldId])}}
        </mat-error>
    </mat-form-field>

    <!--separator-->
    <div *ngSwitchCase="'separator'" padding-vertical>
        <label typography-body-2>{{field.title}}</label>
        <div divider></div>
    </div>

    <div *ngSwitchDefault red padding-bottom>
        Unsupported form field type [{{field.type}}]
    </div>
</ng-container>
